:root {
  --blanco: #ffffff;
  --negro: #000000;
  --grisClaro: #eeeeee;
  --grisOscuro: #272727;
  --azulClaro: #caf0f8;
  --azulOscuro: #043db8;
  --fondoOscuro: rgba(0, 0, 0, 0.6);

  --fuentePrincipal: 'Lato', sans-serif;
  --fuenteSecundaria: 'Roboto', sans-serif;

  --separacion: 5rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--grisClaro);
}

/** Utilidades **/

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: calc(var(--separacion) / 4) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: var(--negro);
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.btn {
  width: 20rem;
  background-color: var(--azulClaro);
  padding: calc(var(--separacion) / 5);
  font-size: 2.3rem;
  color: var(--grisOscuro);
  border-radius: 1rem;
  font-weight: 900;
  border: 1px solid var(--azulOscuro);
  transition-property: background-color transform color;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: var(--azulOscuro);
  transform: scale(1.1);
  color: var(--blanco);
}

/** Utilidades **/
.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

/** Degradados **/
.degradado {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--azulClaro) 0%,
    var(--azulOscuro) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/** Header **/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grisOscuro);
  color: var(--blanco);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    gap: var(--separacion);
    justify-content: space-between;
    padding: 0 calc(var(--separacion) / 2);
  }
}

.titulo a {
  color: var(--blanco);
}

.titulo a:hover {
  color: var(--azulClaro);
}

/** Lista Navbar **/

.vinculos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  justify-content: space-around;
  padding: 0 0 calc(var(--separacion) / 2) 0;
}

@media (min-width: 768px) {
  .vinculos {
    height: auto;
    flex-direction: row;
    gap: calc(var(--separacion) / 2);
    padding: 0;
  }
}

.vinculos a {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .vinculos a {
    font-size: 2rem;
  }
}

.vinculos a:hover {
  color: var(--azulClaro);
  border-radius: 1rem;
}

/** Main **/

.hero {
  padding: var(--separacion);
  background-image: url('../img/hero.png');
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--fondoOscuro);
}

.empresa {
  display: flex;
  height: 50rem;
  flex-direction: column;
  justify-content: center;
  color: var(--azulClaro);
  position: relative;
}

.batizLab-descripcion p {
  font-size: 3rem;
}

.main-opciones {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--separacion) / 1.5);
}

@media (min-width: 768px) {
  .main-opciones {
    flex-direction: row;
    justify-content: center;
  }
}

/** Introducción **/

.introduccion {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .introduccion {
    flex-direction: row;
    gap: calc(var(--separacion) * 2);
  }
}

.info {
  margin: calc(var(--separacion) / 2) 0;
}

.info-registrarse {
  margin: auto 0;
}

@media (min-width: 768px) {
  .info-registrarse {
    grid-row: 1/1;
    grid-column: 2/3;
  }
}

.info h1,
.info-registrarse h1 {
  color: var(--azulOscuro);
}

.info p {
  font-size: 2.5rem;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: var(--separacion);
}

.icono {
  width: 10rem;
}

/** Registrar e Iniciar Sesión **/

.opciones {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: calc(var(--separacion) / 2);
}

@media (min-width: 768px) {
  .opciones {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--separacion);
  }
}

.opcion {
  display: block;
  padding: calc(var(--separacion) / 3);
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1rem;
  transition-property: background-color transform;
  transition-duration: 0.3s;
  height: 20rem;
  background-size: contain;
  background-position: center bottom;
}

.opcion:nth-child(1) {
  background-image: url('../img/hero.png');
  background-size: cover;
}

@media (min-width: 768px) {
  .opcion:nth-child(1) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.opcion:nth-child(2) {
  background-image: url('../img/invitado.svg');
}

@media (min-width: 768px) {
  .opcion:nth-child(2) {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
  }
}

.opcion:nth-child(3) {
  background-image: url(../img/estudiante.svg);
}

@media (min-width: 768px) {
  .opcion:nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
}

.opcion:nth-child(4) {
  background-image: url(../img/profesor.svg);
}

@media (min-width: 768px) {
  .opcion:nth-child(4) {
    grid-row: 3 / 3;
    grid-column: 2 / 3;
  }
}

.opcion:last-of-type {
  margin-bottom: calc(var(--separacion) / 2);
}

@media (min-width: 768px) {
  .opcion:last-of-type {
    margin-bottom: 0;
  }
}

.opcion:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--fondoOscuro);
  border-radius: 1rem;
}

.opcion:hover {
  transform: scale(1.1);
  background-color: var(--azulOscuro);
}

@media (min-width: 768px) {
  .opcion:hover {
    transform: scale(0.9);
  }
}

.opcion p {
  font-size: 1.8rem;
  color: var(--azulClaro);
}

/** Formulario **/

.formulario {
  padding: calc(var(--separacion) / 5);
  padding-bottom: 0;
}

.grupo {
  padding: calc(var(--separacion) / 2) 0;
  gap: calc(var(--separacion) / 2);
  display: flex;
  flex-direction: column;
}

.grupo:first-of-type {
  padding: 0;
}

.grupo p {
  font-size: 1.8rem;
}

.grupo:last-of-type {
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0;
}

.grupo label {
  color: var(--azulOscuro);
  font-weight: 700;
  font-size: 2.5rem;
  text-align: start;
}

.grupo input[type='submit'] {
  padding: 1rem;
  width: 18rem;
}

.grupo select {
  padding: 1rem;
}

@media (min-width: 768px) {
  .relleno {
    padding: calc(var(--separacion) / 3);
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1rem;
    transition-property: transform;
    transition-duration: 0.3s;
    background-size: contain;
    margin: auto 0;
    height: 90%;
    background-position: center center;
    background-image: url(../img/iniciarSesion.svg);
    background-color: var(--azulOscuro);
  }
  .relleno::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem;
  }
}

/** Filtros **/

.filtros {
  display: grid;
  padding: var(--separacion) 0;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--separacion) / 2);
}

@media (min-width: 768px) {
  .filtros {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .filtros {
    grid-template-columns: repeat(4, 1fr);
  }
}

.filtro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--separacion) / 3);
}

.filtro:nth-child(3) {
  grid-column: 1/3;
}

@media (min-width: 768px) {
  .filtro:nth-child(3) {
    grid-column: 3/4;
  }
}

.filtro:nth-child(4) {
  grid-column: 1/3;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .filtro:nth-child(4) {
    grid-column: 1/4;
  }
}
@media (min-width: 992px) {
  .filtro:nth-child(4) {
    grid-column: 4/5;
    align-self: flex-end;
  }
}

.filtro label {
  font-size: 2rem;
  font-weight: 600;
  color: var(--azulOscuro);
}

.filtro select,
input[type='text'],
input[type='password'] {
  color: var(--grisOscuro);
  font-size: 2rem;
  text-align: center;
  background-color: var(--grisClaro);
  border: 1px solid var(--azulOscuro);
}

.filtros-perfil {
  display: grid;
  padding: var(--separacion) 0;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--separacion) / 2);
}

@media (min-width: 768px) {
  .filtros-perfil {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .filtros-perfil {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filtro-perfil {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--separacion) / 3);
}

.filtro-perfil:nth-child(3) {
  grid-column: 1/3;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .filtro-perfil:nth-child(3) {
    grid-column: 1/4;
  }
}
@media (min-width: 992px) {
  .filtro-perfil:nth-child(3) {
    grid-column: 3/5;
    align-self: flex-end;
  }
}

.filtro-perfil label {
  font-size: 2rem;
  font-weight: 600;
  color: var(--azulOscuro);
}

.filtro-perfil select,
input[type='text'] {
  color: var(--grisOscuro);
  font-size: 2rem;
  text-align: center;
  background-color: var(--grisClaro);
  border: 1px solid var(--azulOscuro);
}

/** Proyectos **/

.proyectos {
  padding: var(--separacion) 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--separacion) / 2);
}

@media (min-width: 768px) {
  .proyectos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .proyectos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .proyectos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.proyecto::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--fondoOscuro);
  border-radius: 1rem;
}

.proyecto {
  padding: 0 calc(var(--separacion) / 2);
  border-radius: 1.5rem;
  min-height: 20rem;
  background-image: url(../img/estudiante.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: var(--azulClaro);
  transition-property: background-color transform;
  transition-duration: 0.3s;
}

.proyecto h1 {
  position: relative;
}

.proyecto h2,
h3,
h4,
h5 {
  line-height: 1;
  position: relative;
}

.proyecto:hover {
  background-color: var(--azulOscuro);
  transform: scale(1.1);
}

.descripcion {
  display: flex;
  justify-content: center;
  gap: calc(var(--separacion) / 4);
}

.mas-sobre a {
  font-size: 2rem;
  color: var(--azulClaro);
  position: relative;
  padding-bottom: calc(var(--separacion) / 2);
  transition-property: font-size color;
  transition-duration: 0.3s;
}

.mas-sobre a:hover {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--azulClaro) 0%,
    var(--azulOscuro) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.2rem;
}

/** Crear Proyectos **/

.mi-proyecto {
  padding: 0;
}

@media (min-width: 768px) {
  .mi-proyecto {
    padding: 0 var(--separacion);
  }
}

.mi-proyecto .proyecto:last-child {
  padding: calc(var(--separacion) / 2);
  background-image: url(../img/crearProyecto.svg);
  margin-bottom: var(--separacion);
}

.mi-proyecto .proyecto:last-child i {
  position: relative;
  font-size: 10rem;
}

/** Perfiles **/

.perfiles {
  padding: var(--separacion) 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--separacion) / 2);
  color: var(--azulClaro);
}

@media (min-width: 768px) {
  .perfiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .perfiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .perfiles {
    grid-template-columns: repeat(4, 1fr);
  }
}

.perfil::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--fondoOscuro);
  border-radius: 1rem;
}

.perfil {
  padding: 0 calc(var(--separacion) / 2);
  border-radius: 1.5rem;
  min-height: 20rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition-property: background-color transform;
  transition-duration: 0.3s;
}

.invitado {
  background-image: url(../img/invitadoperfil.svg);
}

.estudiante {
  background-image: url(../img/estudianteperfil.svg);
}

.profesor {
  background-image: url(../img/profesorperfil.svg);
}

.perfil h1 {
  position: relative;
}

.perfil h2,
h3,
h4,
h5 {
  line-height: 1;
  position: relative;
}

.perfil:hover {
  background-color: var(--azulOscuro);
  transform: scale(1.1);
}

/** Mi Perfil **/

.mi-perfil-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .mi-perfil-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .mi-perfil-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mi-perfil {
  padding-top: var(--separacion);
  display: flex;
  flex-direction: column;
  gap: calc(var(--separacion) / 2);
  color: var(--grisOscuro);
}

.mi-perfil-imagen::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--fondoOscuro);
  border-radius: 1rem;
}

.mi-perfil-imagen {
  border-radius: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition-property: background-color transform;
  transition-duration: 0.3s;
}

.mi-perfil-imagen:hover {
  background-color: var(--azulOscuro);
  transform: scale(1.1);
}

.mi-perfil-info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--separacion) / 2);
}

@media (min-width: 768px) {
  .mi-perfil-info h2 {
    font-size: 3rem;
  }
}

.mi-perfil-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mi-perfil-datos h2 {
  color: var(--azulOscuro);
}

.mi-perfil-lenguajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--separacion) / 4);
}

.mi-perfil-lenguajes i {
  color: var(--azulOscuro);
}

.mi-perfil-lenguajes h3 {
  font-size: 2rem;
}

.mas-sobre-mi {
  max-height: 80rem;
  padding: var(--separacion) 0;
  overflow: scroll;
}

@media (min-width: 992px) {
  .mas-sobre-mi {
    grid-column: 2/4;
  }
}

.mas-sobre-mi h2,
.mas-sobre-mi h3 {
  color: var(--azulOscuro);
}

@media (min-width: 768px) {
  .mas-sobre-mi h2 {
    font-size: 3rem;
    margin-top: 0;
  }
}

.mas-sobre-mi p {
  font-size: 1.8rem;
}

.mas-sobre-mi-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 992px) {
  .mas-sobre-mi-info {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--separacion) / 2);
  }
  .ocupacion {
    grid-column: 1/2;
  }
  .bio {
    grid-column: 2/3;
    overflow: hidden;
  }
}

.tabla {
  width: 100%;
  font-size: 2rem;
  margin-bottom: calc(var(--separacion) / 2);
}

.tabla thead {
  font-size: 3rem;
  color: var(--azulOscuro);
}

.tabla tbody tr:nth-child(n + 1) {
  text-align: center;
  background-color: var(--azulOscuro);
  color: var(--azulClaro);
}

.tabla tbody tr:nth-child(2n + 1) {
  text-align: center;
  background-color: var(--azulClaro);
  color: var(--azulOscuro);
}

/** Footer **/

footer {
  background-color: var(--grisOscuro);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--separacion) / 5);
  color: var(--blanco);
  padding: 0 var(--separacion);
  align-items: center;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    height: 25rem;
  }
  .footer .vinculos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .footer .vinculos {
    display: flex;
    gap: var(--separacion);
  }
}

.footer .titulo {
  flex-basis: 25%;
}

@media (min-width: 768px) {
  .footer .titulo {
    padding-right: var(--separacion);
  }
}

.footer .vinculos i {
  font-size: 3.3rem;
}

.footer .social {
  display: flex;
  gap: 2rem;
}

.copyright {
  color: var(--blanco);
  padding-bottom: calc(var(--separacion) / 2);
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .copyright {
    left: 32%;
  }
}
